@charset "utf-8";

body {
    margin: 0; padding: 0;
    text-align: center;
}
* {
    margin: 0 auto;
}

/** header **/
header {
    background-color: #8EACCD;
    height: 61px; 
    position: sticky; top: 0;
}

/** main **/
.contents {
    height: 896px;
    background-color: #F9F3CC;
    background-image: url(./images/hero-1.jpg);
}
.tabSection {
    height: 594.78px;
    background-color: #D7E5CA;
}
.service {
    height: 1915.39px;
    background-color: #D2E0FB;
}
.multiPopup {
    height: 687.28px;
    background-color: #EF9595;
}
.multiPopup > ul > li > #img {
    width: 200px; height: 150px;
}
.mockup {
    height: 733.69px;
    background-color: #DBC4F0;
}
.mockup > .image2 > #img {
    width: 500px; height: 450px;
}
.notice {
    height: 684.58px;
    background-color: #FAF4B7;
}
.notice > ul > li > #img {
    width: 200px; height: 150px;
}
.mapSection {
    height: 1074.53px;
    background-color: #FFCACC;
}
.mapSection > #map_img {
    width: 500px; height: 450px;
}
.conteactUs {
    height: 1006.69px;
    background-color: #CDF0EA;
}
/** footer **/
address {
    height: 186.56px;
    background-color: #EFD595;
}